* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Inclui padding e border no cálculo da largura e altura */
}

body{
    height: 100vh;
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 1.5; /* Melhora a legibilidade do texto */
}

h1{
    margin-bottom: 20px;
    color: #093b7c; /* Cor do título */
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #ddd; /* Borda sutil */
    border-radius: 5px; /* Bordas arredondadas */
    transition: border 0.3s, box-shadow 0.3s; /* Transições suaves */
}

input[type="text"]:focus,
input[type="password"]:focus {
    border-color: #093b7c; /* Cor da borda em foco */
    box-shadow: 0 0 5px rgba(9, 59, 124, 0.5); /* Sombra em foco */
    outline: none; /* Remove o contorno padrão */
}

footer{
    background-color: #093b7c; /* Cor de fundo */
    color: rgb(255, 255, 255); /* Cor do texto */
    text-align: center; /* Centraliza o texto */
    bottom: 0; /* Se necessário para posicionar no fundo da página */
    width: 100%; /* Largura total */
    padding-top: 30px;
    font-size: 14px;
    max-width: 100%;
}

footer p{
    font-style: italic;
}

#v{
    font-size: 10px;
    padding: 20px;
}
#unirios{
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    width: 150px;
}
#logoprincipal{
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    width: 150px;
}
#jatoba{
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    width: 150px;
}

#container{
    margin-bottom: 200px;
    background-color: #71b1ec; 
    width: 800px;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
    padding:50px ;

    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
}

